nav.main-nav.flexbox
  .flex0.d-flex
    a.logo.flex1.flexbox.align-items-center(href="/")
      img(src="/images/pf-logo.svg" height="40" style="margin-right:10px;")
      span Potential Flow <span class="sub">Simulator</span>
    button.hamburger(style="display:none;")
      .inner
        svg.line
          line(x1="2" x2="22" y1="2" y2="2")
        svg.line
          line(x1="2" x2="22" y1="2" y2="2")
        svg.line
          line(x1="2" x2="22" y1="2" y2="2")
  .flex1
  ul.nav-links.flex0
    li
      a(href="/story") Story of Potential Flow
    li
      a(href="/flow-elements") Flow Elements
    li
      a(href="/definitions") Definitions
    li
      a(href="/derivations") Derivations
    li
      a(href="/faq") FAQ
    li
      a(href="/equations") Equations
    li
      a(href="/references") References
    li
      a(href="/contact") Contact