nav.main-nav.flexbox
  .flex0
    a.logo(href="/") Potential Flow <span class="sub">Simulator</span>
    button.hamburger(style="display:none;")
      .inner
        svg.line
          line(x1="2" x2="22" y1="2" y2="2")
        svg.line
          line(x1="2" x2="22" y1="2" y2="2")
        svg.line
          line(x1="2" x2="22" y1="2" y2="2")
  .flex1
  ul.nav-links.flex0
    li
      a(href="/story") Story of Potential Flow
    li
      a(href="/definitions") Definitions
    li
      a(href="/derivations") Derivations
    li
      a(href="/faq") FAQ
    li
      a(href="/equations") Equation Sheet
    li
      a(href="/references") References
    li
      a(href="/about") About