nav.main-nav.flexbox
  a.logo.flex0(href="/") Potential Flow <span class="sub">Simulator</span>
  .flex1
  ul.nav-links.flex0
    li
      a(href="/story") Story of Potential Flow
    li
      a(href="/definitions") Definitions
    li
      a(href="/derivations") Derivations
    li
      a(href="/faq") FAQ
    li
      a(href="/equations") Equation Sheet
    li
      a(href="/references") References
    li
      a(href="/about") About