extends ./layout
block content
  .container.pt50.pb50
    h1.pb30 Definitions
    p
      strong Contents
    .flexbox.flex-wrap.pb30
      - const m = Math.ceil(definitions.length / 2);
      - const blocks = [{start: 0, end: m}, {start: m, end: definitions.length}];
      each block in blocks
        ul.flex0(style="list-style:none;margin-bottom:0;")
          each item in definitions.slice(block.start, block.end)
            li
              a(href=`#${item.id}`)=item.name
    .definitions
      each item in definitions
        .pb20
          h2.fw300(id=item.id)=item.name
          p!=item.value
block scripts
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML")
  script(src="/js/mathjax-config.js")
