extends ./layout
block content
  .container.pt50.pb50
    h1.pb20 Common Questions
    .pb10
      p
        strong Why is potential flow a relevant model of fluid flow?
      p Potential flow is an accurate model in any flow where the effects of viscosity are negligible. This applies outside of boundary layers in aerodynamic and hydrodynamic flows. In most cases boundary layers are thin and attached to the solid surfaces, so potential flow is a widely applicable approximation.
    .pb10
      p
        strong What is the difference between potential flow and irrotational flow?
      p Potential flow occurs by definition when a flow is irrotational, inviscid, and incompressible. Irrotationality is a necessary condition for potential flow, but not sufficient.
    .pb10
      p
        strong Is potential flow necessarily inviscid and vice versa?
      p Inviscid flow is a necessary condition for potential flow, but not all cases of inviscid flow satisfy potential flow. Inviscid flow can be rotationally and therefore not satisfy the conditions for potential flow. Laplace’s equation is the governing equation for potential flow, but the Euler equations give the more general description of inviscid flow, that may be rotational or irrotational.
    .pb10
      p
        strong How can a vortex be irrotational?
      p A vortex with a velocity distribution that is inversely proportional to the radius is a free or irrotational vortex. The velocity field is curl free ($\nabla \times v = 0$), which satisfies irrotationality. This point vortex does have a central point where vorticity goes to infinity, but everywhere else in the domain it is irrotational.
    .pb10
      p
        strong How is a velocity field derived from a potential function?
      p In potential flow, the velocity field can be determined by taking the gradient of the scalar potential: $v = \nabla \phi$.
    .pb10
      p
        strong How to find a potential from a velocity field?
      p The scalar potential can be derived from the velocity field by integrating the velocity components in accordance with the Cauchy-Riemann equations.
block scripts
  include ./includes/mathjax