extends layout
block head
  link(rel="stylesheet" href="//cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  script(src="//cdn.plot.ly/plotly-1.26.0.min.js")
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML")
  script(src="/js/mathjax-config.js")
block content
  #app
block scripts
  script(src="/app.js")