extends layout
block head
  link(rel="stylesheet" href="//cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  script(src="//cdn.plot.ly/plotly-1.26.0.min.js")
block content
  #app
block scripts
  include ./includes/mathjax
  script(src="/app.js")