extends ./layout
block content
  .container.pt50.pb50
    h1.pb20 References
    p <em>Marine Hydrodynamics</em>, J.N. Newman.
    p <em>Fluid Mechanics</em>, Kundu, Cohen, &amp; Dowling.
    p <em>Theoretical Hydrodynamics</em>, L.M. Miline-Thompson.