extends ./layout
block content
  .container.pt50.pb50
    h1.pb20 References
    iframe(style="width:120px;height:240px;" width="120" height="240" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=potentialflow-20&marketplace=amazon&region=US&placement=0262140268&asins=0262140268&linkId=6c72026b7a39af530814651100487dc5&show_border=true&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff")
    p <em>Marine Hydrodynamics</em>, J.N. Newman.
    iframe(style="width:120px;height:240px;" width="120" height="240" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=potentialflow-20&marketplace=amazon&region=US&placement=012405935X&asins=012405935X&linkId=7781210bba44cae9462d8ec23079d5b4&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff")
    p <em>Fluid Mechanics</em>, Kundu, Cohen, &amp; Dowling.
    iframe(style="width:120px;height:240px;" width="120" height="240" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=potentialflow-20&marketplace=amazon&region=US&placement=0486689700&asins=0486689700&linkId=de9f193fdd776ec8c4e8d56689bdd1e2&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff")
    p <em>Theoretical Hydrodynamics</em>, L.M. Miline-Thompson.