$grey: #51586a;
$light: #747e95;
$lighter: #b7bccc;
$lightest: #f1f4f9;
$dark: #252830;
$blue: #69f;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin flexDirection($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
.flexbox {
  @include flexbox();
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex0 {
  @include flex(0 0 auto);
}
.flex1 {
  @include flex(1 1 auto);
}
.fs14 { font-size: 14px; }
.text-grey { color: $grey!important; }
.text-light { color: $light!important; }
.hover-dark {
  cursor: pointer;
  &:hover {
    color: $dark;
    text-decoration: underline;
  }
}
.w50 { width: 50%; }
.mt16 { margin-top: 16px; }
.mt32 { margin-top: 32px; }
.mb4 { margin-bottom: 4px; }
.mb8 { margin-bottom: 8px; }
.mb16 { margin-bottom: 16px; }
.mb32 { margin-bottom: 32px; }
.p16 { padding: 16px; }
.op6 { opacity: 0.6; }

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
}
.nav-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px 12px;
  background: $lightest;
  z-index: 1002;
}

.alert-box-enter {
  opacity: 0;
  transform: translateX(-50%) translateY(-100%) !important;
}
.alert-box-enter.alert-box-enter-active {
  transition: all 0.2s;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) !important;
}
.alert-box-leave {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) !important;
}
.alert-box-leave.alert-box-leave-active {
  transition: all 0.2s;
  opacity: 0;
  transform: translateX(-50%) translateY(-100%) !important;
}
.alert-box {
  background: $grey;
  padding: 1px 12px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  font-size: 14px;
  .undo {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #bcdeff;
    opacity: 0.8;
    transition: all 0.2s;
    margin-right: 15px;
    &:hover {
      text-decoration: underline;
      color: white;
      opacity: 1;
    }
  }
  .close-x {
    padding: 3px;
    svg {
      stroke: lighten($blue, 25%);
    }
  }
}

.display-none {
  display: none !important;
}

button {
  cursor: pointer;
  &.blank {
    background: transparent;
    border: none;
    font-size: 20px;
    &[disabled] {
      cursor: default;
    }
  }
}
.close-x {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  border-radius: 3px;
  background: transparent;
  border: none;
  outline: 0;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
  stroke: $light;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transition: 0;
    background: rgba(0,0,0,0.1);
  }
  svg {
    stroke: inherit;
    stroke-width: 1.5px; 
    stroke-linecap: round;
    display: block;
  }
}

.flow-nav {
  border-bottom: 2px solid darken($lightest, 2%);
  .option {
    font-size: 18px;
    padding: 5px 10px;
    padding-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    color: $grey;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:first-child {
      margin-left: 12px;
    }
    &.active {
      border-top: 2px solid darken($lightest, 2%);
      border-right: 2px solid darken($lightest, 2%);
      border-left: 2px solid darken($lightest, 2%);
      background: white;
      transform: translateY(2px);
      padding-top: 5px;
      color: $dark;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.flow-eq {
  border: 2px solid lighten($blue, 15%);
  background: lighten($blue, 25%);
  overflow-x: auto;
  border-radius: 3px;
  padding: 5px 8px;
}

.input-group-text {
  background-color: darken($lightest, 2%);
}

.flow-element {
  @include flex(0 0 auto);
  max-width: 100%;
  border-radius: 3px;
  border: 2px solid darken($lightest, 2%);
  background: $lightest;
  padding: 10px;
  margin-bottom: 8px;
  margin-right: 6px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .close-x {
    padding: 2px;
  }
  .input-group {
    margin-bottom: 4px;
  }
  .input-group-addon {
    width: 30px;
  }
  label {
    margin: 0;
    font-size: 20px;
    margin-right: 5px;
  }
  .flow-eq {
    color: $grey;
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.flow-group {
  padding: 10px;
  border: 2px solid #fc6;
  background: lighten(#fc6, 25%);
  border-radius: 3px;
  margin-bottom: 15px;
  .title {
    margin-bottom: 10px;
    label {
      margin: 0;
    }
  }
}

.view-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 50px;
}

.main-panel {
  width: 70%;
  position: relative;
}

.active-flows {
  padding: 12px 15px;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 2px solid darken($lightest, 2%);
  .flow-element {
    margin-right: 0;
    width: 100%;
  }
  h4 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .main-panel {
    width: 100%;
  }
  .active-flows {
    width: 100%;
    border-left: none;
    border-top: 2px solid darken($lightest, 2%);
    height: auto;
    min-height: 100px;
  }
  .app-container {
    display: block !important;
  }
  .view-container {
    height: auto;
  }
  .flow-nav .option {
    font-size: 14px;
  }
}

.main-flow-eq {
  border-radius: 3px;
  padding: 4px 10px;
  margin-right: 10px;
  max-width: 800px;
}

.inspect-flows {
  label {
    font-size: 12px;
    margin-bottom: 2px;
  }
}
.optional-container {
  position: relative;
  .optional-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    padding: 0 16px;
    color: $light;
    font-size: 12px;
    font-weight: bold;
  }
}