$grey: #51586a;
$light: #747e95;
$lighter: #b7bccc;
$lightest: #f1f4f9;
$dark: #252830;
$blue: #69f;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin justifyContent($value) {
  -webkit-box-pack: $value;
  -moz-box-pack: $value;
  -webkit-justify-content: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}
@mixin alignItems($value) {
  -webkit-box-align: $value;
  -moz-box-align: $value;
  -webkit-align-items: $value;
  -ms-flex-align: $value;
  align-items: $value;
}
@mixin flexDirection($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
.flexbox {
  @include flexbox();
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-center {
  @include alignItems(center);
}
.flex0 {
  @include flex(0 0 auto);
}
.flex1 {
  @include flex(1 1 auto);
}
.align-items-center {
  @include alignItems(center);
}
.text-grey {
  color: $grey;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px 12px;
  background: $lightest;
  z-index: 1002;
}

.display-none {
  display: none;
}

button {
  cursor: pointer;
  &.history-btn {
    background: transparent;
    border: none;
    &[disabled] {
      cursor: default;
    }
  }
}
.close-x {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  border-radius: 3px;
  background: transparent;
  border: none;
  outline: 0;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
  stroke: $light;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transition: 0;
    background: rgba(0,0,0,0.1);
  }
  svg {
    stroke: inherit;
    stroke-width: 1.5px; 
    stroke-linecap: round;
    display: block;
  }
}

.flow-nav {
  margin-bottom: 10px;
  border-bottom: 2px solid darken($lightest, 2%);
  .option {
    font-size: 18px;
    padding: 5px 10px;
    padding-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    color: $grey;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:first-child {
      margin-left: 12px;
    }
    &.active {
      border-top: 2px solid darken($lightest, 2%);
      border-right: 2px solid darken($lightest, 2%);
      border-left: 2px solid darken($lightest, 2%);
      background: white;
      transform: translateY(2px);
      padding-top: 5px;
      color: $dark;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.flow-eq {
  border: 2px solid lighten($blue, 15%);
  background: lighten($blue, 25%);
  overflow-x: auto;
}

.flow-element {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  border-radius: 3px;
  border: 2px solid darken($lightest, 2%);
  background: $lightest;
  padding: 10px;
  margin-bottom: 8px;
  margin-right: 6px;
  &:last-child {
    margin-bottom: 0;
  }
  .close-x {
    padding: 2px;
  }
  .input-group {
    margin-bottom: 4px;
  }
  .input-group-addon {
    background-color: darken($lightest, 2%);
    width: 30px;
  }
  label {
    margin: 0;
    font-size: 20px;
    margin-right: 5px;
  }
  .flow-eq {
    color: $grey;
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px 5px;
  }
}

.flow-group {
  padding: 10px;
  border: 2px solid #fc6;
  background: lighten(#fc6, 25%);
  border-radius: 3px;
  margin-bottom: 15px;
  .title {
    margin-bottom: 10px;
    label {
      margin: 0;
    }
  }
}

.view-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 50px;
}

.active-flows {
  padding: 12px;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 2px solid darken($lightest, 2%);
  .flow-element {
    margin-right: 0;
    width: 100%;
  }
  h4 {
    margin-bottom: 20px;
  }
}

.main-flow-eq {
  display: inline-block;
  border-radius: 3px;
  padding: 4px 10px;
  margin-right: 10px;
}