$darkGrey: #252830;
$mediumGrey: #51586a;
$lightGrey: #747e95;
$lighterGrey: #b7bccc;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin justifyContent($value) {
  -webkit-box-pack: $value;
  -moz-box-pack: $value;
  -webkit-justify-content: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}
@mixin alignItems($value) {
  -webkit-box-align: $value;
  -moz-box-align: $value;
  -webkit-align-items: $value;
  -ms-flex-align: $value;
  align-items: $value;
}
@mixin flexDirection($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
.flexbox {
  @include flexbox();
}
.flex-column {
  @include flexDirection(column);
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex0 {
  @include flex(0 0 auto);
}
.flex1 {
  @include flex(1 1 auto);
}

h1 {
  font-weight: normal;
}
.fw300 { font-weight: 300; }
.pt50 { padding-top: 50px; }
.pb10 { padding-bottom: 10px; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.pl50 { padding-left: 50px; }

button.hamburger {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  background: transparent;
  border: none;
  outline: 0;
  .inner {
    position: relative;
    width: 24px;
    height: 20px;
  }
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
  .line {
    stroke: $lighterGrey;
    stroke-width: 1.5px; 
    stroke-linecap: round;
    display: block;
    position: absolute;
    width: 24px;
    height: 4px;
    transform-origin: 50% 50%;
    transition: top .3s .3s ease, transform .3s ease;
  }
  .line:nth-child(1) {
    top: 2px;
    left: 0;
  }
  .line:nth-child(2) {
    top: 8px;
    left: 0;
  }
  .line:nth-child(3) {
    top: 14px;
    left: 0;
  }
}

nav.main-nav {
  padding: 0;
  padding-right: 3px;
  background: $darkGrey;
  a.logo {
    padding: 5px 0;
    padding-left: 15px;
    color: white;
    text-decoration: none;
    &:link, &:visited, &:active {
      color: white;
      text-decoration: none;
    }
    .sub {
      font-size: 11px;
      color: #bcdeff;
    }
  }
  button.hamburger {
    height: 50px;
    padding: 12px 15px;
    float: right;
  }
  @media screen and (max-width: 900px) {
    display: block !important;
    padding-right: 0;
  }
}
ul.nav-links {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    padding: 15px 12px;
    color: $lighterGrey;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.2s;
    &:link, &:visited, &:active {
      color: $lighterGrey;
      text-decoration: none;
    }
    &:hover {
      color: white;
      text-decoration: none;
      background: lighten($darkGrey, 3%);
    }
  }
  @media screen and (max-width: 900px) {
    li, a {
      display: block;
    }
    a {
      padding-left: 15px;
    }
  }
}
footer.main-footer {
  padding: 20px 15px;
  background: lighten($darkGrey, 10%);
  color: $lighterGrey;
  font-size: 14px;
}